.imgFront{
    position: relative;
    right: 80px;
    top: 50px;
    width: 450px;
}
.logo{
    position: absolute;
    left: 210px;
    top: 130px;
    width: 80px;
    height: auto;
}
.imgBack{
    position: relative;
    right: 430px;
    top: 330px;
}
.numberApresentation{
    position: absolute;
    left: 220px;
    width: 380px ;
    top: 280px;
    font-size: 30px;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 500;
    letter-spacing: 2px;
    background-color: transparent;
    border-color: transparent;
    /* pointer-events: none; */
}
.numberApresentation[type="number"]::-webkit-outer-spin-button,
.numberApresentation[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.nameApresentation{
    position: absolute;
    left: 220px;
    top: 330px;
    font-size: 15px;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 500;
    letter-spacing: 2px;
    background-color: transparent;
    border-color: transparent;
    /* pointer-events: none; */
}